In [ ]:
# -----------------------------------------------------------Tuples -- it is a datatype---------------------------------------------------------------

In [4]:
# Tuples are ordered collection of elements 
# Tuples are immutable in nature -- once it is created it cannt be changed after the creation 

# Tuples are iniatialized with paranthesis but there should be one element and one (,)

In [5]:
# intializing tuple --
t = (1,2,3,4)
print(type(t))

<class 'tuple'>

In [6]:
# initiasing a empty tuple
t = ()
print(type(t))

<class 'tuple'>

In [7]:
# tuple packing which is known like when user give continouos value in group without paranthesis it will automatically saved in tuple
# and known as tuple packing
t = 1,2,3
print(type(t))

<class 'tuple'>

In [9]:
t = ([1,2],[3,4])
t[0][1] = 100 
print(t)

# here the list is changed not the tuple. Here the whole list is considered as one student

([1, 100], [3, 4])

In [12]:
# tuple unpacking -- it allows you you to assign the individual element if tuple to multiple variables in a single line of code 
vars = 1,2,3
a,b,c = vars
# a = vars[0]
# b = vars[1]
# c = vars[2]
print(a,b,c)

1 2 3

In [14]:
t = (1,2,2,2,3,4,5)
# since the tuples are immutable so, it has only two mwthods.
#1. count == which is used to find the frequency of the element. 
#1. index == it is used find the index of the element.
t.count(2)
t.index(5)

6

In [16]:
t1 = (1,2,3)
t2 = (4,5,6)
# when we concat two tuples it forms new tuple with the concated tuples
t1+t2

(1, 2, 3, 4, 5, 6)

In [21]:
# find the some of all the elements of the given tuple 
t = (1,2,3,4,5,6,7,8)
sum =0 
for i in range(len(t)):
    sum += t[i]
print(sum)

36

In [22]:
# convert a tuple of string into one string 
t = ('r','a','h','u','l')
for i in range(len(t)):
    print(t[i],end='')

rahul